 language: python
    
 python: "3.6"
    
 # don't clone more than necessary
 git:
   depth: 1
    
 # Install dependencies
 install:
   - pip install -r requirements.txt
   - pip install codecov
    
 # script to run tests. Script can have many commands, one per line.
 script: 
   - python -m unittest discover -p "*_test.py"
   - (run your unit tests with "coverage" to generate code coverage data)
  
after_success:
   - codecov